#inputsearch {
    border-color: black;
    background-color: #c0c0c0;
}
#toclick {
    text-align: center;
    margin-top: 18%;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}
button {
    border: 0;
    color: black;
}
img {
    margin-left: 1%;
    margin-right: 1.5%;
    margin-top: 0;
}

